<div id="container">

  <p><a class="<%= @color %> resize" id="msgtext">
    <%= @msg.text %>
  </a></p>

</div>

<script>
	var currentMsgId = <%= @msg.id %>;
	var currentMsgColor = "<%= @color %>";
	setInterval(function(){
		var xmlHttp = new XMLHttpRequest();
	    xmlHttp.open( "GET", "<%= request.protocol + request.host + "/msg" %>", false ); // false for synchronous request
	    xmlHttp.send( null );
	    // console.log(xmlHttp.responseText);
	    obj = JSON.parse(xmlHttp.responseText);
	    // console.log(obj)
	    if ( obj.id > currentMsgId ){
	    	console.log("Updated Message ID to " + currentMsgId);
		    $("#msgtext").removeClass(currentMsgColor).addClass(obj.color).text(obj.text);
		   	currentMsgId = obj.id;
		    currentMsgColor = obj.color;

	    }
	    
	    // $(markup).find("requiredElement").css({ set the properties here });
	    // return xmlHttp.responseText;
	},1000);
</script>